.container {
  @media (min-width: 796px) {
    table {
      width: 100%;

      thead,
      tbody tr {
        width: 100%;
        display: table;
        height: 2rem;
        table-layout: fixed;
      }

      tbody {
        display: block;
        max-height: calc(100vh - 12rem);
        overflow: auto;
      }
    }

  }
}